/*module 46-6 and 46-7 nmbr vdo ar jonne:*/
.country{
    background-color: bisque;
    margin: 20px;
}
.country img{
    width: 150px;
}

/*//module 46-4 and 46-5 nmbr vdo ar jonno:
.country{
    background-color: bisque;
    margin: 20px;
}*/